{% extends 'basei.html' %}

{% load static %}

{% block titulo %}
  <title>Productos Usuario</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block contenido %}
  <div class="container">
    <div class="row rounded-row">
      <div class="col-lg-12 text-center">
        <div style="color: white; background-color: transparent;">
        <br />
        <h1><b><i>Listado de Productos Inicio</i></b></h1>
        <hr />
        <div class="row justify-content-center" style="align-self: center;">
         {% for Productos in productosi %}
            <div class="col-md-3 mb-2 mb-sm-0  product-container" style="margin-right: 15px; margin-top: 15px;">
               <div class="card">
                <div style="align-items: center;">
                  <img src="{{ Productos.imagen.url }}" width="200" />
                </div>
                  
                  <div class="card-body">
                     <h5>{{ Productos.nombre }}</h5>
                     <p>{{ Productos.descripcion }}</p>
                     <hr />
                     <p>${{ Productos.precio }}</p>
                     <a href="#" class="btn btn-primary">Ver mas</a>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
    </div>
  </div>
  <div>
    {% include "fin.html" %}
  </div>
{% endblock %}
